<!DOCTYPE html>
<html ng-app="fupApp">

<head>
    <title>File Upload Example in AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body ng-controller="fupController">
    <div>
        <input type="file" id="file" name="file" multiple onchange="angular.element(this).scope().getFileDetails(this)" />
        <input type="button" ng-click="uploadFiles()" value="Upload" />
    </div>
    <div>
        {{result}}
    </div>
</body>
<script>
    var myApp = angular.module('fupApp', []);

    myApp.controller('fupController', function ($scope, $http) {
        $scope.getFileDetails = function (e) {
            $scope.files = [];
            $scope.$apply(function () {
                for (var i = 0; i < e.files.length; i++) {
                    $scope.files.push(e.files[i])
                }
            });
        };

        /**
         * NOW UPLOAD THE FILES.
         */
        $scope.uploadFiles = function () {
            var data = new FormData();
            for (var i in $scope.files) {
                data.append("file", $scope.files[i]);
            }
            var objXhr = new XMLHttpRequest();
            var dd = ''
            objXhr.open("POST", "https://zodiac07.herokuapp.com/file/read");
            //objXhr.open("POST", "http://localhost:3008/file/read");
            objXhr.send(data);
            objXhr.onload = function () {
                dd = JSON.parse(objXhr.responseText)
                alert(dd)
            }
            xhr.onerror = function (e) {
                alert("Error Status: " + e);
            };
        }
    });
</script>

</html>
